<div class="pxer-foot">
    <div class="container">
        <p>
            Copyright &copy; 2017
            <a href="http://pxer.pea3nut.org/" target="_blank" class="icp-link">pea3nut.org</a>
            by <a href="http://pea3nut.com/" target="_blank" class="icp-link">花生PeA</a>.
        </p>
        <p>
            <a href="http://www.miitbeian.gov.cn/" target="_blank" class="icp-link">鲁ICP备15006545号-2</a>.
            All rights reserved.
        </p>
    </div>
</div>