<nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
    <div class="container">
        <a class="navbar-brand" href="/">Pxer <em>β</em></a>
        <a class="navbar-brand navbar-notice hidden-md-down" href="https://github.com/pea3nut/Pxer/issues/64" target="_blank">寻求Contributor，为Pxer续一秒！</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/md/start">开始</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/md/install">安装</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/md/use">使用</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://jq.qq.com/?_wv=1027&k=46nvvs6" target="_blank">加入QQ群</a>
            </li>
        </ul>
    </div>
</nav>